- name: add plugins
  command: asdf plugin add {{ item }}
  with_items:
    - "{{ asdf.plugins }}"
  failed_when: false

- name: install global language
  command: asdf install {{ item.key }} {{ item.value }}
  with_dict: '{{ asdf.global_settings  }}'
  failed_when: false

- name: set global language
  command: asdf set --home {{ item.key }} {{ item.value }}
  with_dict: '{{ asdf.global_settings  }}'
  failed_when: false
